extends /_templates/layout


block content
    article
        +markdown(self.text)


block script
    script.
        $(function() {
            $('#content img').addClass('img-responsive')
        })
