extends /_templates/layout


block script
    script(src='https://maps.googleapis.com/maps/api/js?key=' + self.env.MAPS_API_KEY)


block content
    article
        +markdown(self.text)

    .row
        #map.col-xs-12(style='height:400px')

    each u in self.data.majad
        if u.geo
            .map-item.hidden(data-geo=u.geo, data-info=u.title, data-url=u.path)
