extends /_templates/layout


block script
    script(src='https://maps.googleapis.com/maps/api/js?key=' + self.env.MAPS_API_KEY)


block content
    each u in self.data.majad
        //- h1.row
        //-     a(href='./' + u.path + '/')
        //-         .col-xs-12.col-sm-9= u.title
        if u.geo
            .map-item.hidden(data-geo=u.geo, data-info=u.title, data-url=u.path)

    .row
        #map.col-xs-12(style='margin-top:-41px;height:400px')
