extends /layout


block vars
    -
        const dt = date => {
            let d = date.substr(0, 10).split('-')
            return [d[2], d[1], d[0]].join('.')
        }

        if (!Array.isArray(self.photo)) { self.photo = [self.photo] }

        self.photo.sort((a, b) => {
            if (a.filename < b.filename) { return -1 }
            if (a.filename > b.filename) { return 1 }
            return 0
        })

        self.image = self.photo[0].filename


block content
    h1= self.title
        span.visible-xs= dt(self.date)
        span.hidden-xs.pull-right= dt(self.date)
    +markdown(self.text)


block images
    if self.photo
        each i in self.photo.slice(1)
            .section(style="background-image:url('" + i.filename + "')")
