extends /layout


block vars
    -
        var uudiseKpv = (date) => {
            let d = date.split('-')
            return [d[2], d[1], d[0]].join('.')
        }

    - title = F.uudis.displayname

    if F.uudis.properties.photo && F.uudis.properties.photo.values
        - image = F.uudis.properties.photo.values[0].value


block content
    h1= title
        span.visible-xs= uudiseKpv(F.uudis.displayinfo)
        span.hidden-xs.pull-right= uudiseKpv(F.uudis.displayinfo)
    +markdown(F.uudis.properties.text.values[0].value)


block images
    if F.uudis.properties.photo && F.uudis.properties.photo.values
        each i, idx in F.uudis.properties.photo.values.slice(1)
            if i.db_value
                .news-img.section(id='news-img-' + idx, style="background-image:url('" + i.value + "')")
