extends /layout


block vars
    -
        const getList = (t) => {
            if (!t) {
                return []
            } else if (Array.isArray(t)) {
                return t
            } else {
                return [t]
            }
        }


block content
    each d in self.file.dokumendid
        .row
            h1.col-xs-12= d.name
            ul.col-xs-12
                each f in getList(d.files)
                    li
                        a(href='/dokumendid/' + f._id + '/' + f.filename)= f.filename
