extends /_templates/layout


block vars
    -
        const getList = (t) => {
            if (!t) {
                return []
            } else if (Array.isArray(t)) {
                return t
            } else {
                return [t]
            }
        }


block content
    .row
        each d in self.data.dokumendid || []
            - var files = getList(d.files)

            if files.length === 1
                h2.col-xs-12.col-sm-8.col-sm-offset-4
                    a(href='/dokumendid/' + files[0]._id + '/' + files[0].filename)= d.name
            else
                h2.col-xs-12.col-sm-8.col-sm-offset-4= d.name
                ul.list-unstyled.col-xs-12.col-sm-8.col-sm-offset-4
                    each f in files
                        li
                            a(href='/dokumendid/' + f._id + '/' + f.filename)= f.filename

        h2.col-xs-12.col-sm-8.col-sm-offset-4
            a(href='/pohikiri/') Põhikiri
