extends /layout


block script
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDKUxMa3cmiecm331dv0_gTDE0wKkuxpsw', type='application/javascript')


block vars
    -
        if (!Array.isArray(self.photo)) { self.photo = [self.photo] }

        self.photo.sort((a, b) => {
            if (a.filename < b.filename) { return -1 }
            if (a.filename > b.filename) { return 1 }
            return 0
        })

        self.image = '/assets/images/majad/' + self.photo[0].filename


block content
    h1= self.title
    +markdown(self.text)

    .row
        #map.col-xs-12

    .list-item.hidden(data-geo=self.geo, data-info=self.title)


block images
    if self.photo
        each i in self.photo.slice(1)
            .section(style="background-image:url('/assets/images/majad/" + i.filename + "')")
